.button {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid;
    border-color: #73CDE7;
    width: 200px;
    background-color: transparent;
    font-weight: 400;
    color: #73CDE7;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    font: 100;



}

.button:hover {
    background-color: white;
    color: #075989;
    transition: 0.3s;

}

.PlayBttn {
    background-image: url("./images/transparent.png");
    background-color: transparent;
    width: 500px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
    color: #8700ad;
    cursor: pointer;
}

.PlayBttn:hover {
    transition: 1s;
    transform: rotate(8deg);
}