.grid {
    display: grid;
    grid-template-rows: 120px 120px 120px;
    grid-template-columns: 120px 120px 120px;
    gap: 30px;
    margin-top: 25px;
    place-content: center;
    padding-bottom: 30px;

}