.Nav {
    width: 100%;
    background-color: #73CDE7;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    min-width: screen;
}

.navLink {
    margin-right: 15px;
    font-weight: 600;
    font-size: 30px;
    color: #075989;
    text-align: center;
    text-underline-position: unset;
    text-decoration: none;

}

.navLink:hover {
    margin-right: 15px;
    font-weight: 600;
    font-size: 30px;
    color: white;
    transition: 0.3s;
}